@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Karla');

$main: #4FB0AE;
$secondary: #5F7DBC;
$tertiary: #67D961;

@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .2em;
  text-decoration: none;
  background-color: $main;
  padding: 1em .5em;
  width: 230px;
  font-size: 1.2em;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  color: #edf7f7;
}

body {
  font-family: 'Karla', sans-serif;
}

main {
  display: grid;
  grid-template-rows: 1fr 2fr 1.5fr auto 2fr 2fr;

}

section, header {
  margin: 0 1em;
}

.navigation {
  margin-bottom: 3em;
  .list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    .item {
      &:hover {
        border-bottom: 2px solid $main;        
      }

      border-bottom: 2px solid rgba(0, 0, 0, 0);        
      transition: border .5s;
      color: black;
      text-decoration: none;
      margin: .5em;
    }
  }
}

header {
  margin-bottom: 2em;

  h1 {
    font-size: 2.2em;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    a {
      @include btn;
    }
  }
}

.introduction {
}

.how-works {
  .how-works-list {
    display: flex;
    justify-content: center;

    .divider {
      border: 1px black solid;
    }

    .how-works-list-mentor {
      margin: 1em;
    }
  }
}

.our-mentors {
  .mentors-list {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    .mentor {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 75%;
        max-width: 20em;
        border-radius: 50%;
      }
    }
  }
}

.areas {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;

  h1 {
    margin: 0 1em;
  }
  .areas-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    -webkit-padding-start: 0;
    margin-bottom: 0;
    .area {
      flex-grow: 1;
      text-align: center;
    }
    #business {
      background: url(/images/business.jpg) center center no-repeat;
      background-size: cover;
    }
    #tech {
      background: url(/images/tech.jpg) center center no-repeat;
      background-size: cover;
    }
    #ux {
      background: url(/images/ux.jpg) center center no-repeat;
      background-size: cover;
    }
  }
}

.us {
  .links {
    display: flex;
    justify-content: center;
    a {
      @include btn;
    }
  }
}
