@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Karla');

$main: #4FB0AE;
$secondary: #5F7DBC;
$tertiary: #67D961;

@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .2em;
  text-decoration: none;
  background-color: $main;
  padding: 1em .5em;
  width: 230px;
  font-size: 1.2em;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  color: #edf7f7;
}

html {
  display: flex;
}

body {
  flex-grow: 1;
  font-family: 'Karla', sans-serif;
}

main {
  display: grid;
  grid-template-rows: 1fr 2fr 1.5fr 2fr 2fr 2fr;
}

section, header {
  padding: 0 1em;
}

.navigation {
  margin-bottom: 3em;
  background-color: $main;
  .list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 1em;

    .item {
      &:hover {
        border-bottom: 2px solid white;        
      }

      border-bottom: 2px solid rgba(0, 0, 0, 0);        
      transition: border .5s;
      color: white;
      text-decoration: none;
      margin: .5em;
    }
  }
}

header {
  margin-bottom: 2em;

  h1 {
    font-size: 2.2em;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    a {
      @include btn;
    }
  }
}

.introduction {
  background-color: $secondary;
  text-align: center;
  color: white;
}

.how-works {
  display: grid;
  grid-template-rows: auto 1fr;
  .how-works-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;

    .how-works-list-mentor {
      flex-grow: 1;
    }

    .how-works-list-mentor:first-child {
      background-color: $main;
    }

    .how-works-list-mentor:last-child {
      background-color: $tertiary;
    }
  }
}

.our-mentors {
  display: grid;
  grid-template-rows: auto 1fr;
  .mentors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    .mentor {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 75%;
        max-width: 14em;
        border-radius: 50%;
      }
    }
  }
}

.areas {
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;

  h1 {
    margin: 0 1em;
  }
  .areas-list {
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    list-style-type: none;
    display: flex;
    justify-content: center;
    -webkit-padding-start: 0;
    margin-bottom: 0;
    .area {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 1.5em;
      h3 {
        margin: 0;
        padding: .3em;
        color: white;
      }
    }
    #business {
      background: url(/images/business.jpg) center center no-repeat;
      background-color: darken($main, 20);
      h3 {
        background-color: $main;
      }
    }
    #tech {
      background: url(/images/tech.jpg) center center no-repeat;
      background-color: darken($secondary, 20);
      h3 {
        background-color: $secondary;
      }
    }
    #ux {
      background: url(/images/ux.jpg) center center no-repeat;
      background-color: darken($tertiary, 20);
      h3 {
        background-color: $tertiary;
      }
    }
    #business, #tech, #ux {
      background-size: cover;
      background-blend-mode: hard-light;     
      transition: all 1s;
    }
    #business:hover, #tech:hover, #ux:hover {
      flex-grow: 1.8;
    }
  }
}

.us {
  display: grid;
  grid-template-rows: auto 4em;
  .links {
    display: flex;
    justify-content: center;
    a {
      @include btn;
    }
  }
}
