@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Karla');

$main: #4FB0AE;

body {
  font-family: 'Karla', sans-serif;
}

main {
  >hr {
    height: 1px;
    border: none;
    color: #333
  }
}

section, header {
  margin: 0 1em;
}

.navigation {
  margin-bottom: 3em;
  .list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

    .item {
      &:hover {
        border-bottom: 2px solid $main;        
      }

      border-bottom: 2px solid rgba(0, 0, 0, 0);        
      transition: border .5s;
      color: black;
      text-decoration: none;
      margin: .5em;
    }
  }
}

header {
  margin-bottom: 2em;

  h1 {
    font-size: 2.2em;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: .2em;
      text-decoration: none;
      background-color: $main;
      padding: 1em .5em;
      width: 230px;
      font-size: 1.2em;
      border-radius: 4px;
      text-align: center;
      font-weight: bold;
      color: #edf7f7;
    }
  }
}

.introduction {
  height: 15em;
}

.how-works {
  .how-works-list {
    display: flex;
    justify-content: center;
    height: 15em;

    .divider {
      border: 1px black solid;
    }

    .how-works-list-mentor {
      margin: 1em;
    }
  }
}

.our-mentors {
  .mentors-list {
    display: flex;
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
    .mentor {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 75%;
        border-radius: 50%;
      }
    }
  }
}
