@import "normalize";
// @import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Roboto');


$main: #4FB0AE;
$secondary: #5F7DBC;
$tertiary: #7863C0;

@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .2em;
  text-decoration: none;
  background-color: rgba($tertiary, 0.7);
  padding: 1em .5em;
  font-size: 1.2em;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  color: #edf7f7;
}

html, body, main {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  display: grid;
  grid-template-rows: 2fr 3fr 2.5fr 2fr 2.5fr 2fr;
  @media screen and (max-width: 900px) {
    grid-template-rows: 1fr 2.5fr 1fr 1.5fr 1.5fr 1fr;
  }
}

section, header {
  padding: 0 1em;
}

.navigation {
  position: absolute;
  background-color: rgba($secondary, .7);
  width: 100%;
  .list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 1em;

    .item {
      &:hover {
        border-bottom: 2px solid white;        
      }

      border-bottom: 2px solid rgba(0, 0, 0, 0);        
      transition: border .5s;
      color: white;
      text-decoration: none;
      margin: .5em;
    }
  }
}

header {
  background: gray url(/images/mentoring.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  background-blend-mode: luminosity;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .hgroup {
    padding: 4em .5em;

    h1 {
      font-size: 2.2em;
    }
    h1, h2 {
      margin: 0;
      padding: .2em;
      width: fit-content;
      background-color: hsla(0, 0%, 0%, .7);
    }
  }

  .links {
    display: flex;
    justify-content: flex-end;
    a {
      @include btn;
    }
  }
}

.introduction {
  background-color: $secondary;
  text-align: center;
  color: white;
  display: grid;
  grid-template-rows: auto auto 1fr;
  
  p {
    margin: 1em auto;
    max-width: 30em;
  }

  .intro-icons-list {

    -webkit-padding-start: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;

    .intro-icons-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: lighten($main, 80);
      height: 90%;
      width: 20%;
      padding: 1em;

      img {
        height: 7em;
        width: 8em;
      }
      p {
        width: 8em;
      }
    }
    @media screen and (max-width: 900px) {
      flex-direction: column;
      
      .intro-icons-item {
        width: 90%;
        margin: 1em;
      }
    }

  }
}

.how-works {
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;

  .how-works-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;

    .how-works-list-mentor {
      flex-grow: 1;
      width: 50%;
    }

    .how-works-list-mentor:first-child {
      background-color: $main;
    }

    .how-works-list-mentor:last-child {
      background-color: $tertiary;
    }
  }
}

.our-mentors {
  display: grid;
  grid-template-rows: auto 1fr;
  .mentors-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2em;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    .mentor {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      border-radius: 50%;
      max-width: 14em;
      width: 14em;
      height: 14em;
      margin: 2em;

      h3 {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.7);
        padding: .2em .5em;
        color: white;
      }

      &:nth-child(1) {
        background: url(/images/mentor2.jpg) center center no-repeat;
        background-size: cover;
      }
      &:nth-child(2) {
        background: url(/images/mentor1.jpeg) center center no-repeat;
        background-size: cover;
      }
      &:nth-child(3) {
        background: url(/images/mentor3.jpeg) center center no-repeat;
        background-size: cover;
      }
    }
  }
}

.areas {
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;

  h1 {
    margin: 0 1em;
  }
  .areas-list {
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    list-style-type: none;
    display: flex;
    justify-content: center;
    -webkit-padding-start: 0;
    margin-bottom: 0;
    .area {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 1.5em;
      h3 {
        margin: 0;
        padding: .3em;
        color: white;
      }
    }
    #business {
      background: url(/images/business.jpg) center center no-repeat;
      // background-color: darken($main, 20);
      h3 {
        background-color: $main;
      }
    }
    #tech {
      background: url(/images/tech.jpg) center center no-repeat;
      // background-color: darken($secondary, 20);
      h3 {
        background-color: $secondary;
      }
    }
    #ux {
      background: url(/images/ux.jpg) center center no-repeat;
      // background-color: darken($tertiary, 20);
      h3 {
        background-color: $tertiary;
      }
    }
    #business, #tech, #ux {
      background-size: cover;
      background-blend-mode: hard-light;     
      transition: all 1s;
    }
    #business:hover, #tech:hover, #ux:hover {
      flex-grow: 1.8;
    }
  }
}

.us {
  display: grid;
  grid-template-rows: 4em auto 4em;
  
  .us-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    -webkit-padding-start: 0;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    .us-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        max-width: 14em;
        border-radius: 50%;
      }
    }
  }
}

.links {
  display: flex;
  justify-content: center;
  a {
    @include btn;
    margin: 1em;
  }
}

footer {
  text-align: center;
  padding: .5em;
  color: white;
  background-color: $secondary;
}
